
<div class="center hero-unit">
  <h1>Welcome to the TV Guide</h1>

  <h2>
	The best guide to all media available in India
  </h2>
<%= render 'programs/search' %>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

